{{ $footer := .Site.Data.footer }}
<style>
@media only screen and (max-width: 600px) {
      iframe {
        height:280px;
        width: 100%;
      }
  }
</style>

<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4" style="background-color:#090606">

  <!-- Footer Links -->
  <div class="container">

    <!-- Footer links -->
    <div class="row ">

    

      <!-- Grid column -->
      <div class="col-md-6 col-lg-4  mx-auto mt-3">
        <h2 class=" mb-4 font-weight-bold"  style="color:white;">IITK Links</h2>
        <p style="color:white;">
          <a href="http://www.iitk.ac.in/" target ="_blank" rel="noopener" class="text-white">IITK Homepage</a>
        </p>
        <p style="color:white;">
          <a href="http://webmail.iitk.ac.in/" target ="_blank" rel="noopener" class="text-white">Webmail IITK</a>
        </p>
        
        <p style="color:white;">
          <a href="http://students.iitk.ac.in/ss/home/" target ="_blank" rel="noopener" class="text-white">Students' Senate IITK</a>
        </p>
        <p style="color:white;">
          <a href="https://www.iitk.ac.in/dosa/" target ="_blank" rel="noopener" class="text-white">DoSA IITK</a>
        </p>
        <p style="color:white;">
          <a href="https://www.iitk.ac.in/counsel/" target ="_blank"  rel="noopener" class="text-white">Counselling Service IITK</a>
        </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-6 col-lg-4 mx-auto mt-3">
        <h2 class=" mb-4 font-weight-bold" style="color:white;">Councils</h2>
         <p style="color:white;">
          <a href="https://anciitk.in/" target ="_blank" rel="noopener" class="text-white">Academics and Carreer Council</a>
        </p>
        <p style="color:white;">
          <a href="http://students.iitk.ac.in/sports/" target ="_blank" rel="noopener" class="text-white">Games and Sports Council</a>
        </p>
        <p style="color:white;">
          <a href="http://students.iitk.ac.in/mnc/" target ="_blank" rel="noopener" class="text-white">Media and Cultural Council</a>
        </p>
        <p style="color:white;">
          <a href="http://students.iitk.ac.in/snt/" target ="_blank" rel="noopener" class="text-white">Science and Technology Council</a>
        </p>
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">
      
       <!-- Grid column -->
      <div class="col-md-6 col-lg-4 mx-auto mt-3">
        <h2 class=" mb-4 font-weight-bold" style="color:white;">Cells</h2>
        <p style="color:white;">
          <a href="https://cwciitk.wordpress.com/" target ="_blank" rel="noopener" class="text-white">Community Welfare Cell</a>
        </p>
        <p style="color:white;">
          <a href="https://students.iitk.ac.in/ec/" target ="_blank" rel="noopener" class="text-white">Election Commission</a>
        </p>
        <p style="color:white;">
          <a href="https://www.ecelliitk.org/" target ="_blank" rel="noopener" class="text-white">Entrepreneurship Cell</a>
        </p>
        <p style="color:white;">
          <a href="https://students.iitk.ac.in/outreach-cell/" rel="noopener" target ="_blank" class="text-white">Outreach Cell</a>
        </p>
        <p style="color:white;">
          <a href="" rel="noopener" target ="_blank" class="text-white">Public Policy and Opinion Cell</a>
        </p>
        <p style="color:white;">
          <a href="https://voxiitk.com/" target ="_blank" rel="noopener" class="text-white">Vox Populi</a>
        </p>
        
      </div>

   
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <hr>

    <!-- Grid row -->
    <div class="row d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-7 col-lg-4">

        <!--Copyright-->
        <p class="text-center text-md-left" style="color:white;">© 2020 Copyright:
            <strong> Students' Gymkhana IITK</strong>
        </p>

      </div>
      <!-- Grid column -->
	<div class="col-lg-4">
		<p class="text-center" style="color:white;">Developed by:
			<strong>Gyanendra </strong> <!--Don't Remove this credit-->
			<a href="https://itsgyanendra.github.io/gyan/" target ="_blank" rel="noopener" aria-label="gyanendra">
				<i class="fa fa-external-link" style="color:white;"></i>
			</a>
		</p> 
	</div>
      <!-- Grid column -->
      <div class="col-md-5 col-lg-4 ml-lg-0">

        <!-- Social buttons -->
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a href="https://www.facebook.com/gymkhanaiitk/" target ="_blank" rel="noopener" aria-label="facebook" class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
 
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/company/students-gymkhana-iit-kanpur/" rel="noopener" target ="_blank" aria-label="linkedin" class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->
