<section class="bg-warning py-5">

  <h2 style="font-size:45px" class=" h1 text-center pb-5">Preamble</h2>
 

  <div class="row no-gutters justify-content-center">
    <div class="col-lg-6 col-md-8 col-11">

          
            <div class="bg-white shadow rounded mb-3">

                <div class="card-body text-muted" style ="font-size :18px;">
                 	“For the purpose of
			<ol>
				<li> Fostering a corporate life based on equality of status and sound moral judgement;</li>
				<li> Developing all round extra-curricular activities to supplement education; and</li>
				<li> Advancing the general welfare of our fellow students;</li>
			</ol>

			We, the students of <strong>Indian Institute of Technology Kanpur</strong> resolve to constitute a self governing democratic organization called <strong>Students’ Gymkhana</strong>  and do hereby adopt this Constitution”</strong>
                </div>

            </div>
            

          </div>
    </div>
  </div>
</section>
